*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Be vietnam pro", sans-serif;
    scroll-behavior: smooth;
}

:root{
    --bg0range:red;
}
#wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.container{
    width: 1200;
    margin: 0 auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 1rem;

}

.logo{
    width: 70px;
}
.logo-container{
    display: flex;
    align-items: center;
    
}

.logo-text{
    margin-left: -1.2rem;
    font-size: 28px;
}
.nav-items{
    display: flex;
    gap: 2rem;
    padding: 0 4rem;
    
}

.nav-items div{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

a{
    text-decoration: none;
}

.nav-items div a{
    color: black;
}

.nav-items div:hover{
    transition: 0.8s;
    font-weight: bold;
}


.hero-section{
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 5rem;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;
   
}

.left{
    display: flex;
    flex-direction: column;
    
    gap: 2rem;
}

.faded-text{
    user-select: none;
    font-size: 7em;
    color: rgb(231,231,231);

    bottom: -16%;
    left: -5%;
    font-weight: bold;
    transition: all 3s;
    display: flex;
    position: absolute;
    left: 2px;
}

.h1{
    font-size: 35px;
    color: #343d68;
    font-weight: 500;
}

.h2{
    font-size: 45px;
    line-height: 45px;
}

.text{
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;
}

.btn{
    background-color: var(--bg0range);
    width: fit-content;
    padding: 0.8rem 2.3rem;
    color: white;
    box-shadow: 5px 5px 7px 0px #0000003f;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 500;
    border: solid 3px transparent;
    position: relative;
    z-index: 1; 
}

.btn::before{
   content: "";
   background-color: #1f1f1f;
   position: absolute;
   top: 0px;
   bottom: 0px;
   left: 0;
   right: 0;
   transform: scaleX(0);
   transform-origin: left;
   transition: all 0.8s;
   z-index: -1;
}

.btn:hover::before{
    transform: scaleX(1);
}

.btn:hover{
    border: solid 3px var(--bg0range);
    color: black;
}

.right{
    position: relative;
}

.absolute{
    position: absolute;
}

.user-image{
    padding: 2.5rem;
    filter: grayscale(1);
    transition: all 1s;
    animation: scaleImage 5s linear infinite;
}

.user-image img{
    z-index: -9;
}

@keyframes scaleImage{

    0%{
        filter: grayscale(0);
        transform: scale(1);
    }

    50%{
        transform: scale(1.1);
        filter: grayscale(1);
        box-shadow: 3px 3px 10px black;
    }

    100%{
        transform: scale(1);
        filter: grayscale(0);
    }
}



.projects{
   background-color: rgb(231,231,231); 
   margin-top: 4rem;
}

.p1{
    color: var(--bg0range);
    font-size: 90px;
    text-align: center;
    padding-top: 30px;
}

.p-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.p-card{
    width: 90%;
    height: 550px;
    background-image: url(Project1.png);
    background-size: cover;
    position: relative;
    box-shadow: 0px 0px 40px #1f1f1f;
}

.p-card::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #1f1f1f9a;
    z-index: 0;
    /* transform: scaleX(1); */
}

.p-card::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.4s;
    z-index: 1;
}

.p-card:hover::before{
    transform: scaleX(1);
}

.p-no{
    position: absolute;
    font-size: 200px;
    font-weight: 500;
    color: white;
    z-index: 10;
    display: none;  
    /* opacity: 0; */
    
}

.p-card:hover .p-no{
    display: block;
    /* opacity: 1; */
}

.p-no-right{
    right: -40px;
    top: -45px;
}

.p-no-left{
    left: -40px;
    top: -45px;
}

.p-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 2em;
    bottom: 20%;
    z-index: 5;
    gap: 1em;
    transition: all 0.4s;
}

.p-content-left{
    left: 10%;
}

.p-content-right{
    right: 10%;
}


.p-skills-container{
    width: 60%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.p-skills{
    width: 40px;
}

.p2{
    font-size: 50px;
    font-weight: bold;
    line-height: 3rem;
}


.subhead{
    width: 70%;
    font-size: 16px;
    font-style: italic;
}


.btn-p:hover{
     border: none;
}

.p-card:hover .p-content{
     transform: scale(1.1);
}

#pr1{
    margin-right: 120px;
    background-image: url(Project1.png);
}

#pr2{
    margin-left: 120px;
    background-image: url(Project2.png);
}

#pr3{
    margin-right: 120px;
    background-image: url(Project3.png);
}

#pr4{
    margin-left: 120px;
    background-image: url(Project4.png);
}


.bodyy{
    margin-left: 6.5rem;
    margin-top: 4rem;
    background-color: white;
    width: 1200px;

}

.body-content{
    display: flex;
    gap: 28rem;
}

.body-left{
    width: 500px;

}

.body-right{
    /* padding-right: 10rem; */
    padding: 0.2rem;
    flex-wrap: wrap;
    
}

#p-skill{
    width: 60px;
    padding: 0.2rem;
}

#p-skill:hover{
    transform: scale(1.2);
}


.form2{
    margin-top: 5rem;
    margin-left: 5rem;
    background-color: rgb(222, 220, 220);
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.txt{
    width: 400px;
}

.txt2{
    width: 400px;
    height: 150px;
    padding-bottom: 8.3rem;
}

.h111{
    font-size: 2.2rem;
    padding-left: 31.4rem;
    color: red;
}

.h112{
    font-size: 1.6rem;
    padding-left: 31.4rem;
}